<svg viewBox="0 0 1000 200" xmlns="http://www.w3.org/2000/svg">
  <g>
    <rect x="0" y="0" rx="5" ry="5" width="1000" height="200" class="kbd-body" />
    <ng-container *ngFor="let k of keyTones">
      <ng-container *ngTemplateOutlet="keyTmplt; context: { $implicit: k }"></ng-container>
    </ng-container>
    <ng-container *ngFor="let k of keySemitones">
      <ng-container *ngTemplateOutlet="keyTmplt; context: { $implicit: k }"></ng-container>
    </ng-container>
  </g>
  <ng-template #keyTmplt let-k>
    <rect [attr.x]="k.rect.x" [attr.y]="k.rect.y" [attr.height]="k.rect.height" [attr.width]="k.rect.width"
      (mousedown)="mouseDown(k)" (mouseup)="mouseUp(k)" (mouseover)="mouseOver(k)" (mouseout)="mouseOut(k)"
      (touchstart)="touchDown(k)" (touchend)="touchUp(k)" (touchCancel)="touchUp(k)"
      (contextmenu)="$event?.preventDefault()"
      [ngClass]="{'down': isDown(k), 'hover': mouseHoverKey === k && !isDown(k), 'semitone': k.isSemitone, 'tone': !k.isSemitone }" />
  </ng-template>
</svg>
